@use "colors.scss" as *;
@use "sass:color";

window.launcher {


  entry {
    all: unset;
    padding: 5px 10px;
    background: $background;
    border: 2px solid $purple;
    border-radius: 15px;
    min-height: 30px;
    min-width: 300px;
  }

  .list {
    background: $background;
    border-radius: 15px;

    .item {
      padding: 5px 10px;
      background: $background;
      border: 2px solid transparent;
      border-radius: 15px;
      transition: background-color 0.3s;

      &.selected {
        border-color: $purple;
      }

      &:hover {
        background-color: color.mix($background, $foreground, 90%);
      }
    }
  }
}
